body {
	margin: 3em;
	color: #444;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.667;
}

/* PARAGRAPHS */
p.post__lead,
p.lead {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.3;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
	color: #222;
	font-weight: 600;
}

h1 {
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-size: 1.75em;
	line-height: 1.25;
}

h3 {
	font-size: 1.5em;
	line-height: 1.25;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1em;
}

/* BLOCKQUOTE */
blockquote {
	margin: 3em 0;
	padding: 0 3em;
	border-left: solid 5px #ddd;
}

/* BUTTONS */
.button {
	display: inline-block;
	text-decoration: none;
	background: red;
	color: #ffffff;
	font-weight: bold;
}

.button--small {
	height: 32px;
	padding: 0 1em;
	font-size: 13px;
	line-height: 32px;
}

.button--large {
	height: 50px;
	padding: 0 1em;
	font-size: 18px;
	line-height: 50px;
}

.button--primary {
	background: #222;
	color: #fff
}

.button--secondary {
	background: #777;
	color: #fff
}

.button--alt {
	background: #eee;
	color: #222
}

/* TABLES */
table {
	margin: 1em 0;
	width: 100%;
}

table th,
table td {
	padding: 0.5em;
}

/* MEDIA */
img {
	height: auto !important;
	max-width: 100%;
}

img.size-full,
img.size-large {
	width: 100%;
}

.wp-caption {
	width: 100% !important;
	margin: 2.5em 0;
}

.wp-caption-dd {
	padding: 1em;
}

.wp-caption-dd::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 5px;
	width: 5px;
	margin-right: 10px;
	background: #ddd;
}